@charset "UTF-8";

/*  Base style declarations */
@fontFamily: "Lucida Sans", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
@fontSize: 14px;
@bgColor: #8f8f85;
@headerBGColor: darken(@bgColor, 20%);
@footerHeight: 40px;
@textColor: #bebebe;
@blue: #057d9f;
@pink: #d0006e;
@purple: #7908aa;
@yellow: #f3fd00;
@orange: #ff8100;

/* Style implementations */
html {
	>body {
		margin: 0;
		background: @bgColor;
		background: linear-gradient(@bgColor, lighten(@bgColor, 5%));
		background-attachment: fixed;
		color: @textColor;
		font-family: @fontFamily;
		font-size: @fontSize;

		>header {
			padding: 20px;
			background: @headerBGColor;
			background: linear-gradient(darken(@headerBGColor, 5%), @headerBGColor);
			overflow: hidden;
			border-top: 2px solid fade(@yellow, 80%);

			>h1, >h2 { 
				font-weight: normal;
				text-align: center;
				margin: 3px 0;
				text-shadow: 0 0 1px darken(@headerBGColor, 50%);
			}
			>h1 {
				font-size: @fontSize + 31;
			}
			>h2 {
				font-size: @fontSize + 11;
				text-transform: uppercase;
			}
		}

		>div {
			padding-bottom: 55px;

			>section {
				position: relative;

				>p {
					position: absolute;
					margin: 0;
					height: 250px;
					width: 300px;
					box-shadow: 0 0 5px #000;
					opacity: 0.8;
					filter: alpha(opacity=80);
					cursor: pointer;
				}
				>p#one {
					background: @blue;
					left: 0
					top: 0;
				}
				>p#two {
					background: @pink;
					left: 0;
					top: 250px;
				}
				>p#three {
					background: @orange;
					left: 300px;
					top: 0;
				}
				>p#four {
					background: @purple;
					left: 300px;
					top: 250px;
				}
			}
		}

		>footer {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: @footerHeight;
			line-height: @footerHeight;
			text-align: center;
			color: lighten(@textColor, 5%);
			font-size: @fontSize - 2;
			text-shadow: 0 0 1px #333;
		}
	}
}