@charset "UTF-8";
@headerText: #963;
@blue: #369;
@green: #336;
@pink: #c39;
@orange: #f93;
@red: #603;
@lightBlue: #9cf;
@lightGray: #ccf;

html {
	>body {
		>header {

		}

		>div {

		}

		>footer {

		}
	}
}